body {
	color: black;
	font-family: Helvetica;
	background: #AAA;
}

#calculator {
	background: white;
	border: 1px solid #888;
	box-shadow: 2px 2px #888, -2px -2px #888;
	display: inline-block;
	padding: 20px 16px 24px 16px;
}

#input_holder {
	border: 1px solid #888;
	display: inline-block;
	height: 55px;
	margin: 5px 5px 0 5px;
	overflow: hidden;
	width: 605px;
}

#input {
	display: inline-block;
	font-size: 40px;
	padding-left: 5px;
	padding-top: 5px;
}

#button_cover {
	background-color: #f5f5f5;
	display: inline-block;
	height: 41.5px;
	left: 29px;
	position: absolute;
	top: 116px;
	width: 170px;
	z-index: 1;
}

#mode {
	position: relative;
	z-index: 2;
	padding-right: 92px;
	margin-left: 0px;
}

.button_holder {
	display: inline-block;
	text-align: center;
}

.button {
	background-color: #d1d1d1;
	border: 1px solid gray;
	box-shadow: 1px 1px #888;
	cursor: pointer;
	display: inline-block;
	height: 37.78px;
	line-height: 40px;
	top: 25%;
	margin: 5px 5px 5px 5px;
	width: 74.44px;
}


.button:hover {
	box-shadow: -2px -2px #888;
}

.button:active {
    box-shadow: 0px 0px;
    margin: 5px 7px 2px 3px;
}

.number {
	background-color: #f3f3f3;
}

#button_divide, #button_multiply, #button_subtract, #button_plus {
}

#button_equal {
	background-color: #4a8bf6;
	color: white;
	font-size: 20px;
}